.host-auth-container {
  display: flex;
  height: 100vh;
  width: 100%;
  position: relative;
}

/* MINI HEADER FLOTANTE */
.auth-mini-header {
  position: absolute;
  top: 30px;
  left: 60px;
  right: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.auth-logo {
  color: #0f172a;
  font-weight: 800;
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot-blue {
  width: 10px; height: 10px;
  background-color: rgb(59, 182, 59);
  border-radius: 50%;
}

.back-link {
    position: relative;
  color: #64748b;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
  margin-left:80vw;
}




/* FORM SIDE */
.host-form-side {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.host-form-wrapper {
  max-width: 420px;
  width: 100%;
}

.host-badge {
  color: rgb(59, 182, 59);
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.75rem;
  letter-spacing: 1.5px;
}

.host-form-side h2 {
  font-size: 2.2rem;
  color: #0f172a;
  margin: 15px 0;
}

.host-subtitle {
  color: #64748b;
  margin-bottom: 35px;
}

/* INPUTS */
.host-input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.host-input-group label {
  font-size: 0.85rem;
  font-weight: 700;
  color: #1e293b;
  margin-bottom: 8px;
}

.host-input-group input, .host-input-group select {
  padding: 14px;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  background-color: #f8fafc;
  font-size: 1rem;
  color:#000000;
}

/* BOTÓN AZUL */
.btn-host-primary {
  width: 100%;
  background-color: rgb(59, 182, 59);
  color: white;
  padding: 16px;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background 0.3s;
}

.btn-host-primary:hover {
  background-color: rgb(59, 182, 59);
}

/* IMAGE SIDE */
.host-image-side {
  flex: 1.2;
  background-image: url('../../../public/IMG/biofilia.jpg'); /* Imagen de una finca hermosa */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  padding: 80px;
}

.host-image-side::before {
  content: '';
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background: rgba(15, 23, 42, 0.4); /* Oscurece un poco la imagen */
}

.host-image-overlay {
  position: relative;
  z-index: 2;
  color: white;
}

.host-image-overlay h3 {
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 20px;
}

.auth-footer-text {
  margin-top: 30px;
  font-size: 0.85rem;
  text-align: center;
  color: #94a3b8;
}

/* MÓVIL */
@media (max-width: 730px) {
  .host-image-side { display: none; }
  .auth-mini-header { left: 20px; right: 20px; }
  .back-link{
    display: none;
  }
  
}
.terminos{
  color: rgb(68, 175, 54);
}

