.nomad-auth-container {
  display: flex;
  height: 100vh; /* Ocupa toda la pantalla para que sea inmersivo */
  width: 100%;
  overflow: hidden;
  
}

/* LADO DE LA IMAGEN */
.nomad-image-side {
  flex: 1.2; /* Es un poco más ancho que el formulario */
  background-image: url('../../../public/IMG/IMG_20250114_075036.jpg'); /* Pon una foto MUY buena aquí */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 60px;
}
.logoR{
  position: absolute;
  margin-bottom: 80vh;
  font-size: 40px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.logoR:hover{
  color: rgb(58, 219, 58);
}

/* Oscurecemos un poco la imagen para que el texto sobre ella se vea */
.nomad-image-side::before {
  content: '';
  position: absolute;
  top: 0; left: 0; width: 100%; height: 100%;
  background: linear-gradient(to top, rgba(15, 23, 42, 0.8), transparent);
}

.image-overlay-content {
  position: relative;
  z-index: 2;
  color: rgb(255, 255, 255);
  max-width: 500px;
}

.image-overlay-content h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

/* LADO DEL FORMULARIO */
.nomad-form-side {
  flex: 1;
  background-color: #1e293b; /* O un gris muy suave #f8fafc */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.form-wrapper {
  width: 100%;
  max-width: 400px;
}

.form-badge {
  color: #10b981;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.nomad-form-side h2 {
  color: #fcfcfc;
  font-size: 2.2rem;
  margin: 10px 0;
}

.subtitle {
  color: #ffffff;
  margin-bottom: 30px;
}

.input-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.input-row label {
  color: #ffffff;
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.input-row input, .input-row select {
  padding: 14px;
  border: 1px solid #e2e8f0;
  border-radius: 12px;
  font-size: 1rem;
  background-color: #f1f5f9;
  color: black;
}

.btn-nomad-primary {
  width: 100%;
  background-color: #10b981;
  color: white;
  padding: 16px;
  border: none;
  border-radius: 12px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s;
  margin-top: 10px;
}

.btn-nomad-primary:hover {
  background-color: #059669;
}

.login-footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.9rem;
  color: #b5cef1;
}

/* Responsivo: En móvil la imagen desaparece o se va arriba */
@media (max-width: 730px) {
  .nomad-image-side {
    display: none;
  }
  
}
